@page
@model JudoLibrary.Api.Pages.Account.Register

@{
    ViewData["Title"] = "Register";
    Layout = "Shared/_Layout";
}

<form method="post">
    <!-- Value of ReturnUrl get's populated by IS4 when we go to /Account/Login, it get's populated based on ConnectID Flow => callback? -->
    <!-- because we specified this hidden field which OnGet takes that http://localhost:5000/Account/Login?ReturnUrl= everything after it -->
    <!-- and assigns it's to value -->

    <!-- #1 First thing where we redirect to is an endpoint within our IS4 (WHEN WE CLICK ON LOGIN) => "authorization_endpoint" 
    => /connect/authorize - well known info. about IS4 -->

    <!-- #2 If we are authorized we redirect back to our App with [code] that we can exchange for access token and ID token -->
    <input type="hidden" asp-for="Form.ReturnUrl" value="@Model.Form.ReturnUrl">
    
    <!-- Username field -->
    <div class="field">
        <label>Username</label>
        <input asp-for="Form.Username">
        <span asp-validation-for="Form.Username"></span>
    </div>
    
    <!-- Email field -->
    <div class="field">
        <label>Email</label>
        <input asp-for="Form.Email">
        <span asp-validation-for="Form.Email"></span>
    </div>

    <!-- Password field -->
    <div class="field">
        <label>Password</label>
        <input asp-for="Form.Password">
        <span asp-validation-for="Form.Password"></span>
    </div>

    <!-- Confirm Password field -->
    <div class="field">
        <label>Confirm Password</label>
        <input asp-for="Form.ConfirmPassword">
        <span asp-validation-for="Form.ConfirmPassword"></span>
    </div>

    <!-- Button -> register as a action to creation of account -->
    <div class="field flex-row">
        <button type="submit">Register</button>
    </div>

    <hr>

    <div class="field flex-row">
        <!-- Populating -> passing returnUrl if we click "Back to Login" link, which is generated on get -->
        <a asp-page="/Account/Login" asp-route-returnUrl="@Model.Form.ReturnUrl">Back to Login</a>
    </div>
</form>